# VS Code
.vscode/

# Java / Maven
target/
*.class

# Maven
.mvn/timing.properties

# Spring Boot
*.log

# Environment files
.env
.env.*
!.env.example

# OS files
.DS_Store
Thumbs.db

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr